{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <p>{{ tweet.user }}</p>
        <span class="card-title">{{ tweet.content }}</span>
        <p>@{{ tweet.created_at }}</p>
        <div class="card-action">
            <a href="{% url 'tweet_update' tweet.id %}">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}">Delete</a>
        </div>
    </div>
</div>

<hr/>

<h4>Comments</h4>

<div class="card">
    {% for comment in comments %}
    <div class="card-content">
        <span class="card-title">{{ comment.content }}</span>
        <p>{{ comment.created_at }} by {{ comment.user }}</p>
    </div>
    {% endfor %}
    <hr/>
    <div class="card-content">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="content" placeholder="Add a comment">
            <input type="submit" value="submit!" class="btn">
        </form>
    </div>
</div>

{% endblock %}