{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <p>{{ tweet.user }}</p>
        <span class="card-title">{{ tweet.content }}</span>
        <p>@{{ tweet.created_at }}</p>
        <div class="card-action">
            <a href="{% url 'tweet_update' tweet.id %}">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}">Delete</a>
        </div>
    </div>
</div>

<hr/>

<h3>Comments</h3>

<div class="card">
    <div class="card-content">
        <span class="card-title">Comment 1</span>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <span class="card-title">Comment 2</span>
    </div>
</div>

{% endblock %}