{% extends 'base.html' %}
{% block content %}

<h1>Twitty</h1>
<div class="card">
    <form action="{% url 'tweet_create' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="content" placeholder="What's on your mind.">
        <input type="submit" value="submit!" class="btn">
    </form>
</div>
<hr/>

{% for tweet in tweets %}
<a href="{% url 'detail' tweet.id %}">
    <div class="card">
        <div class="card-content">
            <p>{{ tweet.user }}</p>
            <span class="card-title">{{ tweet.content }}</span>
            <p>@{{ tweet.created_at }}</p>
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}